body{
    margin: 0px;
}

header{
    position: fixed;
    font-size: xx-large;
    width: 100%;
     background-color: black;
    text-align: center;
    color: white;
    margin: 0%;
    cursor: pointer;
}