:root {
    box-shadow: 0 5px 10px rgba(104, 104, 104, 0.8);
}
body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

header{
   position: fixed;
    font-size: xx-large;
    width: 100%;
     background-color: black;
    text-align: center;
    color: white;
    cursor: pointer;
}
a{
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
}
.Sam{
    font-size: xx-large;
    font-weight:100;
    margin-left: 10px;
    margin-top: 32px;
    animation-name: sam;
    animation-duration: 6s;
    animation-iteration-count: infinite;
      }
@keyframes sam{
    0%{
        color: rgba(85, 86, 86, .3);
    }
    50%{
        color: rgb(233, 242, 242);
    }
    100% {
        color: black;
    }
}
.Sams{
display: flex;
justify-content: space-between;

}
.sams-li {
    display: grid;
   grid-gap: 4px;
   grid-template-columns: repeat(4, 100px);
   list-style: none;
   padding: 0px;
   align-items: top;
   font-size: 21px;
   margin-top: 35px;
}
@media (max-width: 800px) { .sams-li{
    font-size: 16px;}
 }
.socials {
    display: grid;
    grid-gap: 40px;
    grid-template-areas: 
    'media heading '
    'media subheading '
    'media p1 ';
    }
.media{
   grid-area: media;
   display: flex;
   flex-direction: column;
   grid-gap: 10px;
   margin-top: 18em;
   margin-bottom: 12em;
   margin-left: 10px;
}
.media a{
    padding: 5px;
}
.media a:hover {
    transform: scale(1.04) ;
    transition: all 0.5s ease;
}
@media (max-width: 800px) { 
    .media a:hover {
        transform: scale(1.15) ;
        transition: all 0.5s ease;
    }
}
.pic1{
    padding: 5px;
    background: #1d1e20;
    border-radius: 9px;
    
}
.one{
    background: url("/Images/shubham-dhage-t0Bv0OBQuTg-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: auto;
    width: auto;
}
.heading{
    grid-area: heading;
    color: #ef4908;
    font-weight: 400;
    font-size: 72px;
    margin-top: 3em; 
}
.heading:hover{
    transition: 0.9s;
    color: rgba(197, 117, 68, 0.881);
    transform: translateY(-18px);
}
.vanss{
    grid-area: subheading;
    font-family: Poppins;
    color: aliceblue;
    margin-top: -7em;
    font-weight: 500;
    font-size: 22px;
}
.p1 {
    grid-area: p1;
    margin-top: -13em;
    font-family: Poppins;
    font-size:17px;
    line-height: 32px;
}
.two{
    background: url(./Images/pexels-cup-of-couple-8474179.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    display: grid;
    grid-template-areas: 
    'vanss stories'
    'World-joy p2';
    
}
.World-joy{
    grid-area: World-joy;
    justify-items: start;
    margin-left: 20px;
    width: 650px;
    height: 350px; 
    box-shadow: 0 3px 5px rgba(75, 73, 73, 1.0); 
    border-radius: 15px;
}
.vanss{
    grid-area: vanss;
   margin-top: 3em;
   font-size: 30px;
   font-weight: bold;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.stories{
    color: whitesmoke;
    grid-area: stories;
    margin-top: 7em;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.p2{
    grid-area: p2;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bnt{
    border: 0px wheat solid;
    border-radius: 5px;
    height: 7%;
    background-color: #1d1e20;
    
}
.bnt:hover{
    background-color: rgb(130, 89, 32);
}
.bnt-a{
    color: azure;
}
@media (max-width: 1000px) { 
.two{
    display: inline-table;
}
  .stories{
    color: #000000;
    margin-top: 2em;
  }
  .bnt{
    height: 30px;
  }
}
.project{
    background: url(./Images/baim-hanif-pYWuOMhtc6k-unsplash.jpg);
    background-position: center;
    background-size: cover;
    color: #000000;
    height: 800px;
}
.Phase1 {
    height:50%;
}
.Phase2{
    height: 45%;
    margin-top: 10px;
}
.Phase{
    display: flex;
    
}
.projects{
    background-image:linear-gradient(45deg, rgba(237, 165, 164, 0.75),  
     rgba(23, 53, 83, 0.75)), url( ./Images/pexels-céline-12488388.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}