body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

header{
   position: fixed;
   position: relative;
    font-size: xx-large;
    width: 100%;
     background-color: black;
    text-align: center;
    color: white;
    margin: 0%;
    cursor: pointer;
}
a{
    color: rgb(77, 17, 17);
    text-decoration: none;
}
.Sam{
    margin-left: 10px;
}
.Sams{
display: flex;
justify-content: space-between;
}
.sams-li {
    display: grid;
   grid-gap: 4px;
   grid-template-columns: repeat(4, 100px);
   list-style: none;
   padding: 0px;
   align-items: top;
   font-size: 21px;
}
@media (max-width: 800px) { .sams-li{
    font-size: 16px;
 }}
.socials {
    display: grid;
    grid-gap: 40px;
    grid-template-areas: 
    'media heading '
    'media subheading '
    'media p1 ';
    }
.media{
   grid-area: media;
   display: flex;
   flex-direction: column;
   grid-gap: 10px;
   margin-top: 18em;
   margin-bottom: 12em;
   margin-left: 10px;
}
.pic1{
    padding: 5px;
    background: #1d1e20;
    border-radius: 9px;
    
}
.one{
    background: url(./Images/pexels-stayhereforu-12641780.jpg);
    background-position: center;
    background-size: cover;
}
.heading{
    grid-area: heading;
    color: #ef4908;
    font-weight: 400;
    font-size: 72px;
    margin-top: 3em; 
}
h3{
    grid-area: subheading;
    font-family: Poppins;
    color: aliceblue;
    margin-top: -7em;
    font-weight: 500;
    font-size: 22px;
}
.p1 {
    grid-area: p1;
    margin-top: -13em;
    font-family: Poppins;
    font-size:17px;
    line-height: 32px;
    
}